#cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io
  - docker-compose-v2
  - fail2ban
  - unattended-upgrades

users:
  - default
  - name: deploy
    gecos: FilaSaude deploy user
    groups:
      - docker
      - sudo
    lock_passwd: true
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/ssh/sshd_config.d/99-filasaude.conf
    permissions: "0644"
    content: |
      PasswordAuthentication no
      PermitRootLogin no
      PubkeyAuthentication yes

swap:
  filename: /swapfile
  size: 1G
  maxsize: 1G

runcmd:
  - systemctl enable --now docker
  - systemctl enable --now fail2ban
  - install -d -o deploy -g deploy -m 0750 /opt/filasaude
  - systemctl restart ssh
